<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingfeng.electronic.modules.back.system.dao.SysLoginLogMapper">

    <resultMap id="sysLoginLogMap" type="com.qingfeng.electronic.modules.back.system.domain.entity.SysLoginLog" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,username,ipaddr,status,msg,access_time,create_time,update_time,is_deleted
    </sql>

    <select id="selectPage" resultMap="sysLoginLogMap">
        select <include refid="columns" />
        from sys_login_log
        <where>
            <if test="vo.username != null and vo.username != ''">
                and username = #{vo.username}
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and create_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and create_time &lt;= #{vo.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>