<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingfeng.electronic.modules.front.login.dao.UserInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qingfeng.electronic.modules.front.login.domain.entity.UserInfo" id="userInfoMap">
        <result property="id" column="id"/>
        <result property="openId" column="open_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="account" column="account"/>
        <result property="name" column="name"/>
        <result property="certificatesType" column="certificates_type"/>
        <result property="certificatesNo" column="certificates_no"/>
        <result property="userStatus" column="user_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>